SiteConsumeWCF/SiteConsumeWCF/Service References/ServiceWCF/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiceClient" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceClient_Perkalian_InputMessage">
    <wsdl:part name="parameters" element="tns:Perkalian" />
  </wsdl:message>
  <wsdl:message name="IServiceClient_Perkalian_OutputMessage">
    <wsdl:part name="parameters" element="tns:PerkalianResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceClient_Pembagian_InputMessage">
    <wsdl:part name="parameters" element="tns:Pembagian" />
  </wsdl:message>
  <wsdl:message name="IServiceClient_Pembagian_OutputMessage">
    <wsdl:part name="parameters" element="tns:PembagianResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceClient_Penjumlahan_InputMessage">
    <wsdl:part name="parameters" element="tns:Penjumlahan" />
  </wsdl:message>
  <wsdl:message name="IServiceClient_Penjumlahan_OutputMessage">
    <wsdl:part name="parameters" element="tns:PenjumlahanResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceClient_Pengurangan_InputMessage">
    <wsdl:part name="parameters" element="tns:Pengurangan" />
  </wsdl:message>
  <wsdl:message name="IServiceClient_Pengurangan_OutputMessage">
    <wsdl:part name="parameters" element="tns:PenguranganResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiceClient">
    <wsdl:operation name="Perkalian">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceClient/Perkalian" message="tns:IServiceClient_Perkalian_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceClient/PerkalianResponse" message="tns:IServiceClient_Perkalian_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Pembagian">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceClient/Pembagian" message="tns:IServiceClient_Pembagian_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceClient/PembagianResponse" message="tns:IServiceClient_Pembagian_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Penjumlahan">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceClient/Penjumlahan" message="tns:IServiceClient_Penjumlahan_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceClient/PenjumlahanResponse" message="tns:IServiceClient_Penjumlahan_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Pengurangan">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceClient/Pengurangan" message="tns:IServiceClient_Pengurangan_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceClient/PenguranganResponse" message="tns:IServiceClient_Pengurangan_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServiceClient" type="tns:IServiceClient">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Perkalian">
      <soap:operation soapAction="http://tempuri.org/IServiceClient/Perkalian" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Pembagian">
      <soap:operation soapAction="http://tempuri.org/IServiceClient/Pembagian" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Penjumlahan">
      <soap:operation soapAction="http://tempuri.org/IServiceClient/Penjumlahan" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Pengurangan">
      <soap:operation soapAction="http://tempuri.org/IServiceClient/Pengurangan" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceClient">
    <wsdl:port name="BasicHttpBinding_IServiceClient" binding="tns:BasicHttpBinding_IServiceClient">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/WcfTestingForWGS/Service1/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>